<div class="text-center">
    <h1>Collectors list</h1>
    <br>
    <div class="container text-center">
        <div class="search">
            <%= simple_form_for :figurines_filter, url: figurines_path(anchor:"fig-list"), method: :get do |f| %>
            <%= f.input :search, label: false, value: params.dig(:figurines_filter, :search) %>
            <%= f.submit "Search", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>

    <div class="cards container" id="fig-list">
        <% @profiles.each do |profile| %>
        <ul>
        <div class="card-category container box-shadow">
            <div class="image">
                <div>
                    <% if profile.photo.attached?%>
                        <p> <%= cl_image_tag profile.photo.key, :width => 200, :height =>300 %></p>
                    <% else %>
                        <%= image_tag("logo.png", size: "200x300") %>
                    <% end %>
                </div>
                <h2><%= link_to profile.username, profile_path(profile) %></h2>
            </div>
        </div>
        </ul>
    <% end %>
    </div>

    <div class="container text-center fig">
        <button type="button" class="btn btn-primary coll"><%= link_to "Return", root_path %></button>
    </div>
</div>
