<div class="container">
  <h2>Add a new collector profile</h2>
  <%= simple_form_for [ @user, @profile ] do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :username %>
    <%= f.input :birthdate %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>