<div class="container">

<h1> Welcome <%= @profile.username  %> !</h1>
<% if @profile.photo.attached? %>
<p> <%= cl_image_tag @profile.photo.key, :width => 400, :crop => "fill" %></p>
<% end %>
<p><%= @profile.firstname %> <%= @profile.lastname %></p>
<p>Date of birth : <%= @profile.birthdate %></p>
<p>City : <%= @profile.city %></p>


<h1 id="edit">Edit your informations</h1>

<%= simple_form_for @profile, method: :patch do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :username %>
    <%= f.date_field :birthdate %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>