<div id="contenu">
  <% if @user.nil? %>
    <h1 class="text-center">This collector didn't give us any infos about him ! Sorry !</h1>
  <% else %>
    <h1 class="text-center">Welcome on <%= @user.profile.username %> profile page !</h1>
  <%= link_to "Add a figurine", new_figurine_path %>
  <% end %>
    <div id="gauche">

    <br>
    <br>
<br>

    <div class="containeruser">
      <div class="user text-center" >
        <div class="card card-profile shadow">
          <h2 class="text-center"><strong>USER NAME</strong></h2>
            <div class="columns">
                <div class="userimage text-center">
                  <% if @profile.photo.attached?%>
                        <p> <%= cl_image_tag @user.profile.photo.key, :width => 400, :crop => "fill" %></p>
                      <% else %>
                        <%= image_tag("logo.png", size: "100x100")%>
                      <% end %>
                    </div>
                      <div class="text-center">
                          <h5 class="h5">
                             <p>Date of birth : <%= @profile.birthdate %><p>

                          </h5>
                      <div class="h5 font-weight-300">
                              <p>City :<%= @profile.city%></p>
                      </div>
                          <div class="h5 font-weight-300">
                              <p>Email :<%=@profile.user.email%></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



<div id="droite">
  <div class="containeruser">
    <div class="user text-center" >
      <div class="card card-profile shadow">
        <h2 class="text-center"><strong>My trophies</strong></h2>
          </div>
            </div>
              <div class="trophies text-center">
                <div class="scroller">
                  <div class="d-flex flex-wrap ">
                   <% @profile.user.figurines.each do |figurine| %>
                      <div class="col-4">
                      <% if figurine.photo.attached? %>
                        <%= cl_image_tag(figurine.photo.key, :width => 200) %>
                      <% else %>

                        <%= image_tag("logo.png", size: "200x200")%>

                          <% end %>
                          <p><%= figurine.name %></p>

                              <%= link_to "âš™ï¸", edit_figurine_path(figurine) %> |
                              <%= link_to "ðŸ—‘", figurine_path(figurine), method: :delete, data: {confirm: "Are you sure ?"} %>
                      </div>
                          <% end %>
                  </div>
                </div>
              </div>
            </div>

              <br>
            <div class="containeruser">
              <div class="user text-center" >
                <div class="card card-profile shadow">
                  <h2 class="text-center"><strong>My favories</strong></h2>
                    </div>
                      </div>
                        <div class="favories text-center">
                          <div class="scroller">
                            <div class="d-flex flex-wrap ">
                             <% @profile.user.figurines.each do |figurine| %>
                                <div class="col-4">
                                <% if figurine.photo.attached? %>
                                  <%= cl_image_tag(figurine.photo.key, :width => 100) %>
                                <% else %>

                                  <%= image_tag("logo.png", size: "200x200")%>
                                  <p><%= figurine.name %></p>
                                <% end %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr>
                  <div>
            <div class="container">
              <h2 id="edit_infos">Edit your informations</h2>
                <%= simple_form_for @profile, method: :patch do |f| %>
                <%= f.input :firstname %>
                <%= f.input :lastname %>
                <%= f.input :username %>
                <%= f.date_field :birthdate %>
                <%= f.input :city %>
                <%= f.input :photo, as: :file %>
                  <div class="form-actions">
                    <%= f.submit %>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        <div class="container text-center fig">
          <button type="button" class="btn btn-primary coll"><%= link_to "Return", root_path %></button>
        </div>
