<div class="container">
<% if @user.profile.nil? %>
<h1>This collector didn't give us any infos about him ! Sorry !</h1>
<% else %>
<h1>Welcome on <%= @user.profile.username %> !</h1> 

<% if @user.profile.photo.attached? %>
<p> <%= cl_image_tag @profile.photo.key, :width => 400, :crop => "fill" %></p>
<% end %>
<p>Date of birth : <%= @user.profile.birthdate %></p>
<p>City : <%= @user.profile.city %></p>


	<div class="cards">
		<% if @user.figurines.nil? %>
			<p>This user has no figurines !</p>
		<% else %>
    	<% @figurines.each do |figurine| %>

		<ul>
		  <div class="container">

          <div class="row">
            <div class="">
              <div class="card  box-shadow">
              	<%= cl_image_tag(figurine.photo.key, :width => 100) %>
                <div class="card-body">
                  <p class="card-text"><%= link_to figurine.name, figurine_path(figurine) %> - <%= figurine.year %></p>
                  <div class="align-items-center">
                    <div class="text-center">
                      <%= link_to "Edit", edit_figurine_path(figurine) %> | 
                      <%= link_to "Delete", figurine_path(figurine), method: :delete, data: {confirm: "Are you sure ?"} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
			</div>
		</ul>
		<% end %>
			<% end %>
			</div>


<% end %>
</div>
