<div class="container form">
  <h1>Add a figurine</h1>
  <%= simple_form_for @figurine do |f| %>
    <%= f.input :name %>
    <%= f.input :year %>
    <%= f.input :brand %>
    <%= f.input :media_universe, collection: %w( Video\ Games Star\ Wars\ Episode Star\ Wars\ Story The\ Mandalorian Iron\ Man X\ Men Game\ of\ Thrones Dragon\ Ball\ Z Dragon\ Ball\ Super)  %>
    <%= f.input :media_year %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
