<div class="container card-trip mediapage text-center">
<% content_for :meta_title, "#{@figurine.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, humanized_money_with_symbol(@figurine.price) %>
<% content_for :meta_image, cl_image_path(@figurine.photo.path) %>
  <h1 class="text-center"><%= @figurine.name %></h1>
  <% if @figurine.photo.attached? %>
    <%= cl_image_tag(@figurine.photo.key) %>
  <% else %>
    <%= image_tag("logo.png") %>
  <% end %>
  <div class="card-trip-infos">
    <div class="container" id="star-show">
      <p>Year : <%= @figurine.year %></p>
      <p>Brand : <%= @figurine.brand %></p>
      <p>Amount: <%= humanized_money_with_symbol(@figurine.price) %></p>
      <p>Seller : <%= @figurine.user.profile.username %></p>
      <hr>
      <h3>Description :</h3>
      <p><%= @figurine.description %></p>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <button type="button" class="btn btn-primary btn-sm"><%= link_to 'ðŸ”™', figurines_path%></button>
    <% if user_signed_in? %>
      <% pre_like = @figurine.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= link_to "ðŸ‘Ž", figurine_like_path(@figurine, pre_like), class: "btn btn-primary btn-sm", method: :delete %>
      <% else %>
        <%= link_to "ðŸ‘", figurine_likes_path(@figurine), class: "btn btn-primary btn-sm", method: :post, redirect_to: figurine_path(@figurine), data: {confirm: "Wow! You like this figurine very much !"} %>
      <% end %>
      <button type="button" class="btn btn-primary btn-sm"><%= link_to 'ðŸ’¬', figurine_path(anchor:"postreview")%></button>
      <%= link_to "â­", favorite_figurine_path(@figurine), class: "btn btn-primary btn-sm", method: :put, data: {confirm: "Awesome! This figurine has been added to your favourites !"}%>
    <% end %>
    <%= @figurine.likes.count %> <%= (@figurine.likes.count) == 1 ? 'Like' : 'Likes'%>
  </div>
</div>
<div class="container text-center fig">
  <button type="button" class="btn btn-primary coll"><%= link_to "Collector", profile_path(@figurine.user) %></button>
  <button type="button" class="btn btn-primary media"><%= link_to "Media", media_figurine_path(@figurine) %></button>
  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'figurine_id', @figurine.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary btn-purchase' %>
  <% end %>
</div>
<br>
<br>
<div class="container text-center fig">
  <button type="button" class="btn btn-primary comm" id="postreview">Comments</button>
  <% if @figurine.reviews.blank? %>
    <p>Be the first to leave a comment for <%= @figurine.name %> figurine !</p>
  <% else %>
    <% @figurine.reviews.each do |review| %>
      <div class="container card-trip">
        <h4><%= review.user.profile.username %></h4>
        <p><%= review.created_at %> </p>
        <div class="card-trip-infos">
          <p id="review-<%= review.id %>"><%= review.content %> </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if policy(@review).create? %>
    <div class="container form">
      <%= simple_form_for([ @figurine, @review ]) do |f| %>
        <%= f.input :content %>
        <%= f.submit "Submit your comment", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
