  <%= render 'shared/banner' %>
<div class="container text-center social-icons">
  <a href="#"><i class="fab fa-facebook-square fa-5x"></i></a>
  <a href="#"><i class="fab fa-instagram-square fa-5x"></i></a>
  <a href="#"><i class="fab fa-twitter-square fa-5x"></i></a>
</div>
<h2 id="month" class="text-center">Figurine of the month</h2>
<div class="container card-trip card-category text-center">
  <% @popular.each do |like| %>
    <div>
      <div class="image">
        <% if like.figurine.photo.attached? %>
          <%= cl_image_tag(like.figurine.photo.key) %>
        <% else %>
          <%= image_tag("logo.png") %>
        <% end %>
      </div>
      <div class="text-center card-body">
        <h1 class="card-text"><%= link_to like.figurine.name, figurine_path(like.figurine) %></h1>
        <h1 class="card-text">Likes : <%= like.figurine.likes.count %></h1>
      <% end %>
    </div>
    <br>
  </div>
</div>
<h2 class="text-center" id= "apropos">About us</h2>
<hr>
<div class= "container apropos">
  <p>A few months, while I was putting my Star Wars figurines away, I noticed how cold and informed were the marketplaces I found on the web. That's how I thought a web app like Figurin'App could make a difference : An app for figurines collectors made by real figurines collectors !</p>
  <p>It was Made by Léonard, Emmanuel, Mathieu, and Stéphane from le Wagon Marseille ! Enjoy it !</p>
</div>
<h2 class="text-center" id="contact">Contact us</h2>
<hr>
<form class= "container form">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
    <small id="message" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="textarea">Message</label>
    <textarea type="textarea" class="form-control" placeholder="Enter message" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
